
.itemPageHead {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: inherit;
    background: rgb(228, 209, 44);    
} 

.NavBar {
    display: flex;
    justify-content: center;
    align-items: center;
} 

span {
    display: inline-block;
    padding: 30px;
}




