/*Courtney Hoppus - UI Prototypes*/

.Logo {
    background-color: transparent;
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 40px;
    margin: 10px;

}

.Link {
    text-decoration: none;
    color: #FFFFFF;
}